header {
    text-align:center;
}
body, html {
    font-family: "Times New Roman", Times, serif;
    margin:0;
    padding:0;
    text-align:center;
    height:100%;
}

ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

#content {
    min-height:90%;
    margin-bottom:-50px
}

footer, #push {
    height:50px;
}
