{% extends 'public/base.html' %}
{% load static %}


{% block header %}    
    <img src='{% static "logo.png" %}' alt='Qadsan'/><br>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "listings/compare.css" %}">  
{% endblock %}

{%block content%}
    <script src="{% static "jquery.min.js" %}"></script>
    <script src="{% static "Chart.bundle.min.js" %}"></script>
    
    <form id="form2">
        {{compform.as_ul}}
        <select id='price_type'>
            <option value='p_close' selected>Close</option>
            <option value='p_open'>Open</option>
            <option value='p_low'>Low</option>
            <option value='p_high'>High</option> 
            <option value='volume'>Volume</option>
        </select>
 
        <input type="submit" id="bt2">
    </form>

    <section id='main-wrapper'>
        <div class='container' id="graph-container"></div>
    
       

        <div class='container' id='tf-container'>
            <form id="form3">
                
                <select id='timeframe'>
                    <option value='6m' selected>6 months</option>
                    <option value='1y'>1 year</option>
                    <option value='2y'>2 years</option>
                    <option value='3y'>3 years</option>
                    <option value='4y'>4 years</option>
                    <option value='5y'>5 years</option>
                </select>
                <button id="submit">Submit new timeframe</button>
            </form>
        </div>
        <div style="clear:both;"></div>
    </section>
    
    <section id='table-wrapper'> 
        <div class='container' id="table-container" >
            <table id="maint">
                <tr id="headers"></tr>
                <tr id="info1"></tr>
                <tr id="info2"></tr>
                <tr id="info3"></tr>
                <tr id="info4"></tr>
                <tr id="buttons"></tr>
            </table>
        </div>
    </section>
   
{% endblock %}   


{%block script%}
<script>
    var init = false; 
    var dl = [];
    
    var count = 0;
    var tbl_pos = {};
    var chart_pos = {}; 
    var table_arr = [[],[],[],[],[],[]];
    var comp_list = [];
  
    var all_prices = {p_close:[], p_high:[], p_low:[], p_open:[], volume:[]};

    var ptype = 'p_close';
    var tf = '6m';

    var rgba_arr = [];

    function update_table_container(cl, comp_id) {
        
        //map table position to company ID
        tbl_pos[comp_id] = count;
       
        //random colors used for graph
        var randy1 = Math.floor(Math.random() * 255);
        var randy2 = Math.ceil(Math.random() * 255);
        var randy3 = Math.floor(Math.random() * 255);
        var rgba = 'rgba(' + randy1 + ',' + randy2 + ',' + randy3 + ',0.4)';
        
        rgba_arr.push(rgba);

        //remove previous content        
        $('#headers').html('');
        $('#info1').html(''); 
        $('#info2').html('');
        $('#info3').html('');
        $('#info4').html('');
        $('#buttons').html('');


		$('td[class*="temp"]').remove();

        
        //bring together entries
        table_arr[0][count] += '<th>' + comp_id + '</th>';

        table_arr[1][count] += '<td class="temp' + comp_id + '">' + cl['comp_sym'] + '</td>';
        table_arr[2][count] += '<td class="temp' + comp_id + '">' + cl['comp_name'] + '</td>';
        table_arr[3][count] += '<td class="temp'+comp_id+'">$' + cl['comp_cap'].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>';
        table_arr[4][count] += '<td class="temp'+comp_id+'">$' + cl['comp_price'].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>';
        table_arr[5][count] += '<td class="temp' + comp_id + '"><button id="bt'+comp_id+'" value="'+comp_id+'" >Remove!</button></td>';
        
        //append information 
        count++;
        for (var i=0; i<count; i++) {
            $('#headers').append(table_arr[0][i]);
            $('#info1').append(table_arr[1][i]);  
            $('#info2').append(table_arr[2][i]);
            $('#info3').append(table_arr[3][i]);
            $('#info4').append(table_arr[4][i]); 
            $('#buttons').append(table_arr[5][i]);
        }
         
    }


    function update_chart_arr(pl, curr, comp_sym, comp_id) {        
        var pos = tbl_pos[comp_id];
        curr.push({label: comp_sym, data: pl, backgroundColor: rgba_arr[pos]}); 
        return curr;
    }



    function draw_chart(datel, pricel) {
        //must reset canvas after every update
        document.getElementById("graph-container").innerHTML = '&nbsp;';
        document.getElementById("graph-container").innerHTML = '<canvas id="myChart" width="600" height="600" style="margin:auto;padding:0;display:block;"></canvas>';
        //draw graph
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: datel,
            datasets: pricel                  
            },
            options: {
                responsive:false,
                elements: {point: {radius:0}},
            }
        });
    }    
    

    function remove_entry(comp_id) {
        var pos = tbl_pos[comp_id];
        
        for (var i=0; i<table_arr.length; i++)
            table_arr[i].splice(pos,1);

        
        for (var x in all_prices) {
            if (all_prices.hasOwnProperty(x)) {
                all_prices[x].splice(pos,1);
            }
        } 

        for (var comp in tbl_pos) {
            if (tbl_pos[comp] > pos)
                tbl_pos[comp]--;
        }
        rgba_arr.splice(pos, 1);
        count--;
        
        var index = comp_list.indexOf(comp_id);
        if (index > -1) {
            comp_list.splice(index, 1);
        }
    }
    
    //remove data
    $(document).on('click', 'td button', function(e) { 
    
        e.preventDefault();
        var comp_id = this.value;
        remove_entry( comp_id );
       
        
        $('#headers').html('');
        $('#info1').html('');
        $('#info2').html('');
        $('#info3').html('');
        $('#info4').html('');
        $('#buttons').html('');
        
        $(this).remove();
        $('td[class*="temp'+comp_id+'"]').remove();

        if (count > 0) {
            for (var i=0; i<count; i++) {
                $('#headers').append(table_arr[0][i]);
                $('#info1').append(table_arr[1][i]);  
                $('#info2').append(table_arr[2][i]);
                $('#info3').append(table_arr[3][i]);
                $('#info4').append(table_arr[4][i]); 
                $('#buttons').append(table_arr[5][i]);
            }

            draw_chart(dl, all_prices[ptype]);
        } else { 
            document.getElementById('main-wrapper').style.visibility = 'hidden';
            document.getElementById('table-wrapper').style.visibility = 'hidden';
            dl = [];
            init = false;
        }
    });

    document.getElementById('price_type').onchange = function() {
        ptype = this.value;
        draw_chart(dl, all_prices[this.value]); 
    };


    $('#form2').submit(function(e) {
        e.preventDefault();
        if (count >= 3) {alert('Count too high! Please remove a company'); return;}
        var comp_id = $('#id_foo').val();
        var index = comp_list.indexOf(comp_id);
        if (index > -1) return;
        ptype = $('#price_type').val(); 
        $.ajax({
            url: '/listings/ajax/retrieve_comp/' + comp_id + '/' + tf,
            type: 'get', 
            success: function(data) {
                 
                var company = data.info[0]['fields'];
                var price_arr = [];
                comp_list.push(comp_id);
                
                update_table_container(company, comp_id);
                //loop to load all ptypes
                for (var x in all_prices) {   
                     if (all_prices.hasOwnProperty(x)) { 
                            for (p in data.prices) { 
                                price_arr.push(data.prices[p]['fields'][x]);
                                if (init == true) continue; 
                                //not taken after first iteration
                                document.getElementById('main-wrapper').style.visibility = 'visible';
                                document.getElementById('table-wrapper').style.visibility = 'visible';
                                dl.push(data.prices[p]['fields']['p_date']);
                            }
                            init = true;
                            all_prices[x] = update_chart_arr(price_arr, all_prices[x], company['comp_sym'], comp_id);
                            price_arr = [];
    
                     }
                }
                draw_chart(dl, all_prices[ptype]);
             },
            failure: function(data) {
                alert('error getting company' + comp_id);
            }

        });
    });
  

    $('#form3').submit(function(e) {
        e.preventDefault();
       
        //reset data and information
        all_prices = {p_close:[], p_high:[], p_low:[], p_open:[], volume:[]};
        init = false;
        dl = [];
        tf = $('#timeframe').val();
        
        
        for (var i=0; i < comp_list.length; i++) {
            $.ajax({
                url: '/listings/ajax/retrieve_comp/' + comp_list[i] + '/' + tf,
                type: 'get', 
                async: false,
                success: function(data) {
                    var company = data.info[0]['fields'];
                    var price_arr = []; 
                    //loop to load all ptypes
                    for (var x in all_prices) {   
                         if (all_prices.hasOwnProperty(x)) { 
                                for (p in data.prices) { 
                                    price_arr.push(data.prices[p]['fields'][x]);
                                    if (init == true) continue; 
                                    //not taken after first iteration
                                    dl.push(data.prices[p]['fields']['p_date']);
                                }
                                init = true;
                                all_prices[x] = update_chart_arr(price_arr, all_prices[x], company['comp_sym'], comp_list[i]);
                                price_arr = [];
                         }
                    }
                    
                },
                failure: function(data) {
                    alert('error getting company' + comp_id);
                }
            
            });
        } 
        draw_chart(dl, all_prices[ptype]);
    });

</script>
{%endblock%}
