{% extends 'public/base.html' %}
{% load static %}

{% block header %}
     <h1 style='font-family:"Liberation Mono"; text-align:center;'> {{c.comp_name}}</h1>
{% endblock %}

{%block content%}

<script src="{% static "jquery.min.js" %}"></script>
<script src="{% static "Chart.bundle.min.js" %}"></script>


<form id="form3">
    
    <select id='price_type'>
        <option value='p_close' selected>Close</option>
        <option value='p_open'>Open</option>
        <option value='p_low'>Low</option>
        <option value='p_high'>High</option> 
        <option value='volume'>Volume</option>
    </select>
    <select id='timeframe'>
        <option value='6m' selected>6 months</option>
        <option value='1y'>1 year</option>
        <option value='2y'>2 years</option>
        <option value='3y'>3 years</option>
        <option value='4y'>4 years</option>
        <option value='5y'>5 years</option>
    </select>
</form>

<div id='graph-container'></div>
</div>
{%endblock%}




{% block script %}
<script>
	
	var dates = [];
    var prices = [];
    var all_prices = {p_close:[], p_high:[], p_low:[], p_open:[], volume:[]};
    var tf_arr = ['5y', '4y', '3y', '2y', '1y', '6m'];
    var days_arr = [1258,1006,754,503,251,125];
    var tf = '6m';
    var ptype = 'p_close';
    var comp_id = '{{c.id}}';
    
    

    {% for p in Price %}
        dates.push("{{p.p_date|date:'Y-m-d'}}")
        all_prices['p_high'].push('{{p.p_hgh}}');
        all_prices['p_low'].push('{{p.p_low}}');
        all_prices['p_close'].push('{{p.p_close}}');
        all_prices['p_open'].push('{{p.p_open}}');
        all_prices['volume'].push('{{p.volume}}');
    {% endfor %}


    function draw_chart(dl, pl) {
        //must reset canvas after every update
        document.getElementById("graph-container").innerHTML = '&nbsp;';
        document.getElementById("graph-container").innerHTML = '<canvas id="myChart" width="600" height="600" style="margin:auto; padding:0; display:block;"></canvas>';
        //draw graph
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: dl,
            datasets: [{
              label: "{{c.comp_sym}} close price",
              data: pl,
              backgroundColor: "rgba(153,255,51,0.4)"
            }]
            },
            options: {
                responsive:false, 
                elements: {point: {radius:0}},
            }
        });
    }    


    function get_bounds() {
         
        var index = tf_arr.indexOf(tf);
        if (index > -1) {
            for (var i = index; i < days_arr.length; i++) {
                if (dates.length >= days_arr[i]) {
                    draw_chart(dates.slice(dates.length-days_arr[i], dates.length-1), all_prices[ptype].slice(dates.length-days_arr[i], dates.length-1));
                    console.log('taken!!!!' + days_arr[i]);
                    return;
                }
            }
            draw_chart(dates, all_prices[ptype]);
        }
    }
    
    get_bounds();

    document.getElementById('timeframe').onchange = function() {
        tf = this.value;
        get_bounds();
    };
    
    document.getElementById('price_type').onchange = function() {
        ptype = this.value;
        get_bounds();
    };


</script>
{% endblock %}
