{% extends 'public/base.html' %}
{% load static %}

{% block header %} 
    <img src='{% static "logo.png" %}' alt='Qadsan'/><br>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "listings/index.css" %}">
{% endblock %}

{% block content %}
<div>
<table> 
{% if cl %}
    <tr><th>Company</th><th>Symbol</th><th>Last Sale</th><th>Market Cap</th></tr>

    {% for company in cl %}
        <tr>
            <td><a href="/listings/{{ company.id }}/">{{ company.comp_name }}</a></td> 
            <td>{{company.comp_sym}}</td>
            <td>{{company.comp_price}}</td> 
            <td>{{ company.comp_cap}}</td>
        </tr>
    {% endfor %}
{% else %}
    <p>No companies are available.</p>
{% endif %}
</table>
</div>
{% endblock %}
