html, body {
    font-family: "Times New Roman", Times, serif;
    margin:0;
    padding:0;
    text-align:center;
    height:100%;
    /*background:#6cf;*/
}

table {
    color: #333;
    margin-left:auto;
    margin-right:auto;
}

td, th { border: 1px solid #CCC; height:30px;}

th {
    background: #F3F3F3;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align:center;
    word-wrap: break-word;
    white-space: normal;
    width:80px;
}

.container {
    border-radius:5px;
    margin:5px;
}
body {
    background-color: #dddbcb;
}
#main-wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1000;
    overflow:hidden;
    visibility:hidden;
}
#table-wrapper {
    width:1000;
    margin:auto;
    overflow:hidden;
    visibility:hidden;
}
#tf-container {
    text-align:center;
    width:150;
    float:left;
    padding:30px;
    background-color:#f5f1e3;
}
#graph-container {
    text-align:center;
    float:left;
    background-color:#fff;
}
#table-container {
    text-align:center;
    float:left;
    padding:40;
    background-color:#f5f1e3;
}
