html, body {
    font-family: "Times New Roman", Times, serif;
    margin:0;
    padding:0;
    text-align:center;
    height:100%;
    background:#6cf;
}
table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
    background:#fff;
}
table {
    margin-left:auto;
    margin-right:auto;
}
