{% load static %}



<head>
<link rel="stylesheet" href="{% static "public/base.css" %}">

<header> 
    <img src='{% static "logo.png" %}' alt='Qadsan'/>
    {% block header %}{% endblock %}
    <br>
    <a href='{% url "compare" %}'>Compare</a>
    <a href='{% url "index" %}'>Index</a>
</header>

{% block head %}{% endblock %}
</head>

<body>
    <div id='content'>
    {% block content %}{% endblock %}
    <div id='push'></div>
    </div>

    <footer>
    Made by Peter Kihaile
    </footer>
</body>


{% block script %}
{% endblock %}
