{% load static %}



<head>
    <link rel="stylesheet" href="{% static "public/base.css" %}">

    <header> 
        {% block header %}{% endblock %}
        <a href='{% url "compare" %}'>Compare</a>
        <a href='{% url "index" %}'>Index</a>
    </header>
    {% block head %}{% endblock %}
</head>

<body>
    <div id='content'>
    {% block content %}{% endblock %}
    <div id='push'></div>
    </div>

    <footer>
    Made by Peter K    
    </footer>
</body>


{% block script %}
{% endblock %}
